html{
}
body{
  /* font-family: "DM Sans", sans-serif; */
  @apply bg-white text-amber-900
}

.buttonLink{
  @apply relative inline-flex h-fit w-fit rounded-full px-4 py-2;
  @apply border border-amber-900 bg-amber-900/10 text-amber-900 outline-none ring-amber-900;
  @apply after:absolute after:inset-0 after:-z-10 after:animate-pulse after:rounded-full after:bg-amber-700 after:bg-opacity-0 after:blur-md;
  @apply transition-colors hover:border-amber-700 hover:text-amber-700 after:transition-all after:duration-100 after:hover:bg-opacity-15 focus:ring-2;
}

.buttonLink.alt{
  @apply relative inline-flex h-fit w-fit rounded-full px-4 py-2;
  @apply border border-stone-600 bg-stone-500/10 text-stone-500 outline-none ring-stone-800;
  @apply after:absolute after:inset-0 after:-z-10 after:animate-pulse after:rounded-full after:bg-amber-700 after:bg-opacity-0 after:blur-md;
  @apply transition-colors hover:border-amber-700 hover:text-amber-700 after:transition-all after:duration-100 after:hover:bg-opacity-15 focus:ring-2;
}

header li a{
  font-family: "Lexend", sans-serif;
  @apply  hover:text-amber-700 px-4; 
}

header li a.router-link-active{
  @apply text-amber-800;
}

h1{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform:uppercase;
  font-weight:800;
  @apply text-4xl lg:text-6xl mb-0 lg:mb-4
  
}
h2{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform:uppercase;
  @apply text-xl lg:text-4xl mb-2 lg:mb-4
}
h3{
  @apply text-lg lg:text-2xl text-stone-500 mb-2 lg:mb-4
}
p{ 
  @apply text-base/8 lg:text-xl/10 mb-4 text-stone-400 
}
.content ul {
  @apply ml-8 list-disc
}

.content ul li {
  @apply text-base/8 lg:text-xl/10 text-stone-400 
}
